<div *ngIf="!accepted">
  <!--<img src="assets/document.png"/>-->
  <h1>Upgrade to account holder</h1>
  <p>We already have all the necessary documents to open a <strong>Savings account</strong> for you. Do you want to upgrade and receive new services?</p>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button block clear>Not now</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button block (click)="onAcceptClick($event)">Yes</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<div *ngIf="accepted">
  <div text-center>
    <img src="assets/trophy.png"/>
  </div>
  <h1>Congratulations!</h1>
  <p text-center>Now you have a <strong>Savings account</strong>,
    your account has been created in the same agency as its responsible.
    Write down your data and access the application for account holders
    <br/>
    <strong>ag 0386 a/n 89532-3</strong>
  </p>

  <ion-grid>
    <ion-row>
      <ion-col col-3>
      </ion-col>
      <ion-col col-6>
        <button ion-button clear>Download app</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

